<div class="container main-container">
    <h3>Interpolation</h3>

    <!-- <p>O número de cliques é {{ contadorClique }}</p> -->
    <p [ngClass]="{
      'text-secondary':contadorClique < 3,
      'text-success':contadorClique >= 3,
      'text-warning':contadorClique >= 6,
      'text-danger':contadorClique >= 9
    }">O número de cliques é {{ contadorClique }}</p><br><br>

    <h3>Property Binding</h3>

    <button class="btn btn-info" [disabled]="contadorClique >= 10">Info</button><br><br><br>

    <img [src]="urlImage" height="50px" width="50px"><br><br><br>


    <h3>Event Binding</h3>

    <button class="btn btn-success" (click)="adicionarClique()">Adicionar Clique</button>
    <button class="btn btn-warning" (click)="subtrairClique()">Subtrair Clique</button>
    <button class="btn btn-danger" (click)="zerarCliques()" [disabled]="contadorClique < 10">Zerar Cliques</button><br><br><br><br>


    <h3>Two-way Binding</h3>
    <!-- <strong>Sem utilizar two-way binding</strong>
    <input type="text" (keyup)='KeyUp($event)' placeholder="Digite seu nome" class="form-control">
    <label>Seu nome é: {{ nome }}</label><br><br> -->

    <!-- <strong>Utilizando two-way binding (Escrita Longa)</strong>
    <input type="text" [ngModel]="nome" (ngModelChange)='nome = $event' placeholder="Digite Seu Nome" class="form-control">
    <label>Seu nome é: {{ nome }}</label><br><br> -->

    <strong>Utilizando two-way binding (Escrita elegante)</strong>
    <input type="text" (ngModel)="nome" placeholder="Digite seu nome" class="form-control">
    <label [ngClass]="nome">Seu nome é: {{ nome }}</label>
</div>